<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="/private/css/style.css" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body>
    <div class="init">
        <nav>
            <div class="nav-wrapper #0d47a1 blue darken-4">
                <div class="logo">
                        <img src="public/resources/logo.jpg">                   
                </div>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#"><i class="material-icons">more_vert</i></a></li>
                    <li><a class="dropdown-button" href="#" data-activates="dropdown1"><i class="material-icons">person</i></a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="#">search</a></li>
                    <li><a href="#">view_module</a></li>
                    <li><a href="#">refresh</a></li>
                    <li><a href="#">more_vert</a></li>
                </ul>
            </div>
        </nav>

        <ul id='dropdown1' class='dropdown-content'>
            <li><a onclick="logout()">Cerrar Sesión</a></li>
        </ul>
                

        <div class="container">
            <div class="row">
                <div class="col s12 m12">
                    <div class="col s12 m6">
                            <div class="card">
                                <div class="card-content">
                                    <span class="card-title"><i class="material-icons">assessment</i> Comparador de reportes</span>
                                    <p>Compara los reportes de características y parámetros con la plantilla y obten 
                                        la diferencia.
                                    </p>
                                </div>
                                <div class="card-action">
                                    <a href="/platform/creportes">Abrir comparador</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Posiblemente tenga que reemplazar para solo sea la autenticación -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
    <script src="/private/js/auth.js"></script>
    <script src="/private/js/main.js"></script>
</body>
</html>